<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
</head>
<body>
    <h1 style="text-align: center;">ChatApp</h1>

    <ul id="chat-container"></ul>

    <div>
        <input type="text" id="message-input" placeholder="Type your message">
        <button id="send-button" >Send</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>
